.todo-section {
  padding: 10px 10px 1px 10px;
  background: #ecedf6;
  margin: auto;
  max-width: 630px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 15px;
}
