.container {
  max-width: 700px;
  margin: auto;
  background: #ecedf6;
  padding: 20px 10px 0 10px;
  border-radius: 8px;
}

.btn-section {
  display: flex;
  align-items: center;
  max-width: 630px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 10px;
}
.btn {
  color: #fff;
  background: #6370f0;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
}
