body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 700px;
  margin: auto;
  background: #ecedf6;
  padding: 20px 10px 0 10px;
  border-radius: 8px;
}

.btn-section {
  display: flex;
  align-items: center;
  max-width: 630px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 10px;
}
.btn {
  color: #fff;
  background: #6370f0;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
}
